
body {
    font-family: Titillium Web;
    margin: 0;
    padding: 0;
}

.Container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-content: center; 
    padding: 20px; 
    background: #F8FAFC;
    gap: 20px;
}

.subcaixa {
    display: flex;
    z-index: 1;
    background-color: #FBA94C;
    color: #0F172A;
    position: fixed;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    top: 5px;
    height: 34px;
    left: 46%;
    width: 133px;
    align-items: center;
    justify-content: center;
}

.caixa {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 30px;
    color: black;
    border: 1px solid #E2E8F0;
    border-radius: 10px;
}

#colorida {
    background-color: #0F172A;
    color: #FFFFFF;
}

.butao {
    background: white;
    color: black;
    border: 2px solid #1E293B;
    cursor: pointer;
    width: 100%;
    height: 56px;
    border-radius: 5px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 700;
}

#colorido {
    color: #FFFFFF;
    background-color: #996DFF;
}

.top {
    display: flex;
    flex-direction: column;
}

.inicio {
    color: #7C3AED;
    font-weight: 600;
    font-size: 14px;   
}

.meio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 32px;
}

.meio1 p, .meio2 p, .meio3 p{
    margin-block-start: 0;
    margin-block-end: 0;
}

#preco {
    font-size: 24px;
    font-weight: 700;
}

#preco span {
    font-weight: 400;
    font-size: 18px;
}

.button {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-items: center;
    color: #475569;
}

#coloride {
    color: #CBD5E1;
}

.linha {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between; 
  }

.linha1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
  
.fim3 , .fim1 {
    color: #475569;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
}

.fim1, .fim2, .fim3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .Container {
        grid-template-columns: 1fr; 
        padding: 10px;
    }

    .caixa {
        width: 100%;
        margin-bottom: 20px;
    }
}
